
<!-- CSS only -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
crossorigin="anonymous">
<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" /> -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-warning">
    <div class="container-fluid">
        <a style="padding-left: 30px;" class="navbar-brand text_Color" routerLink='/'>Dating App</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto mb-2 mb-md-0">
                <ul class="navbar-nav mr-auto">
                    <ng-container *ngIf="accountService.currentUser$ | async">
                        <li class="nav-item">
                            <a  class="nav-link text_Color" routerLink='/members' routerLinkActive='active'>Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text_Color" routerLink='/lists' routerLinkActive='active'>Lists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text_Color" routerLink='/messages' routerLinkActive='active'>Messages</a>
                        </li>
                        <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                            <a class="nav-link text_Color" routerLink='/admin' routerLinkActive='admin'>Admin</a>
                        </li>
                    </ng-container>
                    <li class="nav-item">
                        <a class="nav-link text_Color" routerLink='/errors' routerLinkActive='active'>Errors</a>
                    </li>
                </ul>
            </div>

            <div style="margin-right: 30px; position: relative;" class="dropdown" 
                *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
                <a class="dropdown-toggle text-light text_Color" dropdownToggle>
                    Welcome <strong>{{user.knownAs || user.username | titlecase}}</strong>
                </a>
                <div style="margin-left: 40px;" class="dropdown-menu mt-2" *dropdownMenu>
                    <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
            
            <form *ngIf="(accountService.currentUser$ | async) === null || (accountService.currentUser$ | async) === undefined" 
                #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" 
                autocomplete="off" style="margin-right: 20px;">
                <input class="form-control me-2" 
                    name="username"
                    [(ngModel)]="model.username"
                    type="text" 
                    placeholder="username" 
                    aria-label="Search">
                <input class="form-control me-2" 
                    name="password"
                    [(ngModel)]="model.password"
                    type="password" 
                    placeholder="password" 
                    aria-label="Search">
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>