<div class="text-center">
    <h2>{{predicate === 'liked' ? 'Members I like' : 'Members who like me'}}</h2>
</div>

<div class="container" >
    <div class="row" style="margin-bottom: 20px">
        <div class="btn-group col-4" name="predicate">
            <button class="btn btn-primary" btnRadio="liked" 
                [(ngModel)]="predicate" (click)="loadLikes()">Members I like</button>
            <button class="btn btn-primary" btnRadio="likedBy" 
                [(ngModel)]="predicate" (click)="loadLikes()">Members who like me</button>
        </div>
    </div>

    <div class="row">
        <div class="col-2" *ngFor="let memberx of members">
            <app-member-card *ngIf="(memberx !== undefined)" [member]="memberx"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="77"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
    >
    </pagination>
</div>